{{ define "header" }}
  {{ partial "menu" . }}
{{ end }}
{{ define "main" }}
  <article itemscope itemtype="http://schema.org/CreativeWork">
    <header>
      <h1 itemprop="headline">{{ .Title }}</h1>
    </header>
    {{ if .Description }}
      <blockquote itemprop="description">{{ .Description }}</blockquote>
    {{ end }}
    {{ range (where .Site.RegularPages "Section" "post").GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>
    <ul>
      {{ range .Pages }}
      <li>
        <a href="{{ .Permalink }}" id="{{ .UniqueID }}" alt="{{ .Title }}">{{ .Title | markdownify }}</a>
        <span class="muted">
          {{ partial "post/meta" . }}
        </span>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </article>
{{ end }}
{{ define "footer" }}
  {{ partial "powered-by" . }}
{{ end }}
