{{ define "header" }}
  {{ partial "menu" . }}
{{ end }}
{{ define "main" }}
    <header>
      <h1 itemprop="headline">{{ .Title }}</h1>
    </header>
    {{ if .Description }}
      <blockquote itemprop="description">{{ .Description }}</blockquote>
    {{ end }}
    {{ range (where .Site.RegularPages "Section" "post").GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>
    <ul>
      {{ range .Pages }}
      <li>
        <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
          {{ template "_internal/schema.html" . }}
          {{ if isset .Params "author" }}
            <meta name="author" itemprop="author" content="{{ index .Params "author" }}" />
          {{ else }}
            <meta name="author" itemprop="author" content="{{ .Site.Params.author }}" />
          {{ end }}
          <a itemprop="url" href="{{ .Permalink }}" id="{{ .UniqueID }}" alt="{{ .Title }}"><span itemprop="headline">{{ .Title | markdownify }}</span></a>
          <span class="muted">
            {{ partial "post/meta" . }}
          </span>
        </article>
      </li>
      {{ end }}
    </ul>
    {{ end }}
{{ end }}
{{ define "footer" }}
  {{ partial "powered-by" . }}
{{ end }}
